body{
    background-color: #212121;
    color: aliceblue;
    padding: 20px;
    margin: 20px;
}
.container{
    border: 2px solid white;
}
.calc label{
    margin-bottom: 10px;
    display: block;
}
.calc button {
    margin-left: 100px;
    margin-top: 20px;
    width: 150px;
    height: 30px;
}

